// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer


color-serasa-blue = #015cae
color-serasa-red =  #ed1951
color-bg = rgb(250, 250, 250)

section

h2
	color: color-serasa-blue
	font-family: Helvetica, Arial, sans-serif
	font-size: 23px
	padding-bottom:15px

.bespoke-slide
	text-align: inherit !important
.bespoke-progress-bar
	background-color: color-serasa-red !important
.card
	font: Helvetica, Arial, sans-serif
	font-size: 14px
	display: block !important
	padding: 0px
	color: color-serasa-blue
	background-color:rgba(255, 255, 255, 0.68)
	.logo
		background-image: url(../images/logo.png)
		background-repeat: no-repeat
		background-size: contain
		background-position: center
		height:45px
	.card-content 
		padding: 15px
		height:100%
		border-radius:10px
	.grid-pad.header
		padding-top: 0px
		padding-left: 0px

.clearfix
	clear:both !important

.grid.header
	background-color: white
	.description
		.content
			padding:16px
			text-align:right

.common-background
	background-color: color-bg
	background-image: url(../images/serexp-balls.png)
	background-repeat: no-repeat
	background-size: 50%
	background-position: center

.dashboard-card
	.modules
		height:70px
		.module-text
			width:70%;
			padding-top:20px
			font-size:1.3em		
			float:left
		.module
			float:right
			border-radius:8px
			background-color: #efefef
			color: color-serasa-blue
			display:block
			padding:17px
			text-align: center
			margin:4px
			width:50px
			height:50px
			&.selected
				background-color: color-serasa-blue
				color: white

	.topic
		padding-top:15px
		&.selected
			color: color-serasa-red
		div
			height:32px
			float:left
		div:nth-child(1)
			width: 15%
		div:nth-child(2)
			width: 60%
		div:nth-child(3)
			width: 25%
			span:nth-child(1)
				width: 100%
				display: block
				text-align:center
			span:nth-child(2)
				width: 100%
				display: block
				text-align:center
				font-size: 0.8em

.bespoke-backdrop.quiz
	background-image: url(../images/background1.jpg)
	background-size: cover

.questionario
	.question-number
		font-size:1.1em
		display: block
		border-bottom:1px solid color-serasa-red
	.pergunta
		float:left
		width:65%
		font-size:12px
		.enunciado
			margin-top:25px
			margin-bottom:20px
		.answer
			min-height:40px
			margin-left:20px
		button
			margin-left:150px
	.resposta
		border-bottom-left-radius:11px
		border-bottom-right-radius:11px
		background-color:rgba(183, 196, 202, 0.78)
		height:200px
		padding:10px
		font-size:11px
		width:33%
		float:left
		display: block
		&.wrong
			background-color:rgba(84, 28, 36, 0.82)
			color: white
		&.right
			background-color:rgba(28, 84, 30, 0.82)
			color: white
	.nextbutton
		margin-right: 14px
		margin-top:50px