doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Serasa Experian OEDx

    link(rel='stylesheet', type='text/css', href='build/build2.css')
    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")


  body(ng-app="serexpScormPackage")

    article

      section(class="card dashboard-card")
        div(class="grid grid-pad header")       
          div(class="col-3-12 logo")
          div(class="col-7-12 description")
            div(class="content").
              Módulo 1 - Crédito e suas variações
        div(class="card-content common-background")
          div(class="modules")
            div(class="module-text") Aulas 1 - Crédito nos seus negócios
            div(class="module") 3
            div(class="module") 2
            div(class="module selected") 1
          div(class="clearfix")
          div
            br
            br
            strong Aulas deste módulo:
          div
            div(class="topic selected")
                div Aula 1
                div Crédito nos seus negócios                  
                div
                  span 20
                  span minutos                  
            div(class="clearfix")
            div(class="topic")
                div Aula 2                
                div Diferença entre crédito para PME x média/grande
                div
                  span 35
                  span minutos                  
            div(class="clearfix")
            div(class="topic")
                div Aula 3
                div Importância do crédito para o cliente e para o seu negócio
                div
                  span 35
                  span minutos                  
            div(class="clearfix")         



      section(class="card")
        div(class="grid grid-pad header")       
          div(class="col-3-12 logo")
          div(class="col-7-12 description")
            div(class="content")
              span Módulo 1 - Crédito e suas variações
              br
              span Aula 1 - Crédito nos seus negócios
        div(class="card-content common-background")
          h2 1. Formas de pagamento
          p.
            Quando sua empresa vende para uma outra empresa, existem algumas formas de pagamento possíveis:
          ul(style='padding-left:150px')
            li 
            li À vista
            li Boleto parcelado
            li Boleto a prazo
            li Débito em conta
            li Cartão de crédito



      section(class="card")
        div(class="grid grid-pad header")       
          div(class="col-3-12 logo")
          div(class="col-7-12 description")
            div(class="content")
              span Módulo 1 - Crédito e suas variações
              br
              span Aula 1 - Crédito nos seus negócios
        div(class="card-content common-background")
          h2 1. Formas de pagamento        
          p.
            Quanto a essas formas de pagamento, sua empresa as trata da mesma maneira? 
            Sabia que para uma venda segura, não se pode tratar as formas de pagamento do mesmo jeito?
          hr
          p.
            Para cartão de crédito, à vista, existe uma segurança no recebimento dos valores, pois sua 
            empresa recebe o valor antes de disponibilizar a mercadoria.

      section(class="card").emphatic-text(data-bespoke-backdrop='quiz')
        div(class="grid grid-pad header")       
          div(class="col-3-12 logo")
          div(class="col-7-12 description")
            div(class="content")
              span Módulo 1 - Crédito e suas variações
              br
              span Aula 1 - Crédito nos seus negócios
        div(class="card-content")
          h2 Questionário 1
          p(class="enunc-init").
            Você já leu o texto-base e assistiu à webaula 1; chegou então a hora de verificar o que você aprendeu até aqui. Vamos lá?

          div(style="text-align: center; margin-top:50px")
            a(class="pure-button pure-button-primary" href="#5") Iniciar questionário




      section(class="card").emphatic-text(data-bespoke-backdrop='quiz')
        div(class="grid grid-pad header")       
          div(class="col-3-12 logo")
          div(class="col-7-12 description")
            div(class="content")
              span Módulo 1 - Crédito e suas variações
              br
              span Aula 1 - Crédito nos seus negócios
        div(class="card-content" ng-controller="Quest1Controller" ng-init="right=0")
          h2 Questionário 1
          div(class="questionario")
            div(class="question-number").
              Questão 1
            div(class="pergunta")
              div(class="enunciado").
                Podemos afirmar que entre as melhores práticas de mercado está:
              div(class="answer")
                input(type="radio" name="q1" value="0" ng-model="answer")
                span Verificar relatórios de relacionamento com fornecedores
              div(class="answer")
                input(type="radio" name="q1" value="1" ng-model="answer")
                span Não há necessidade de confirmar as informações
              div(class="answer")
                input(type="radio" name="q1" value="2" ng-model="answer")
                span Avaliar  os histórico dos pagamentos
              button(class="pure-button pure-button-primary" ng-click="answered=true") Responder
            div(class="resposta" ng-show="answered==true && answer!=null" ng-class="(answer==right ? 'right' : 'wrong')").
              É importante verificar os relatórios de relacionamento com os fornecedores!
            div(class="clearfix")
            div(style="text-align: right")
              a(class="pure-button pure-button-primary nextbutton" href="#6" ng-show="answered") Próximo

      section(class="card").emphatic-text(data-bespoke-backdrop='quiz')
        div(class="grid grid-pad header")       
          div(class="col-3-12 logo")
          div(class="col-7-12 description")
            div(class="content")
              span Módulo 1 - Crédito e suas variações
              br
              span Aula 1 - Crédito nos seus negócios
        div(class="card-content" ng-controller="Quest1Controller" ng-init="right=1")
          h2 Questionário 1
          div(class="questionario")
            div(class="question-number").
              Questão 2
            div(class="pergunta")
              div(class="enunciado").
                Podemos afirmar  pendências financeiras são:
              div(class="answer")
                input(type="radio" name="q1" value="0" ng-model="answer")
                span Quando a empresa não entrega as documentações exigidas
              div(class="answer")
                input(type="radio" name="q1" value="1" ng-model="answer")
                span Quando uma empresa têm dívida com outras empresas
              div(class="answer")
                input(type="radio" name="q1" value="2" ng-model="answer")
                span Quando não há  os histórico dos pagamentos
              button(class="pure-button pure-button-primary nextbutton" ng-click="answered=true") Responder
            div(class="resposta" ng-show="answered==true && answer!=null" ng-class="(answer==right ? 'right' : 'wrong')")
              span.
                O termo 
              strong.
                Pendências financeiras
              span.
                refere-se a situações onde há falta de quitação de algum acordo pré-estabelecido. Ausência de 
                documentação ou histórico de pagametnos não configura este tipo de situação. Quando uma empresa
                tem dívida com outra, ou mesmo débitos em aberto, então podemos utilizar o termo pendência financeira.
            div(class="clearfix")
            div(style="text-align: right")
              a(class="pure-button pure-button-primary" href="#7" ng-show="answered") Finalizar aula

      section(class="card")
        div(class="grid grid-pad header")       
          div(class="col-3-12 logo")
          div(class="col-7-12 description")
            div(class="content")
              span Módulo 1 - Crédito e suas variações
              br
              span Aula 1 - Crédito nos seus negócios
        div(class="card-content common-background")
          h2 Relatório final
          p(style="text-align:center; font-size:20px; margin-top:50px").
            Seu índice de aproveitamento desta aula
          p(style="text-align:center; font-size:30px")
            strong.
              75%


      section(class="card")
        div(class="grid grid-pad header")       
          div(class="col-3-12 logo")
          div(class="col-7-12 description")
            div(class="content")
              span Módulo 1 - Crédito e suas variações
              br
              span Aula 1 - Crédito nos seus negócios
        div(class="card-content common-background")
          h2 1. Formas de pagamento        
          p.
            Quanto a essas formas de pagamento, sua empresa as trata da mesma maneira? 
            Sabia que para uma venda segura, não se pode tratar as formas de pagamento do mesmo jeito?
          hr
          p.
            Para cartão de crédito, à vista, existe uma segurança no recebimento dos valores, pois sua 
            empresa recebe o valor antes de disponibilizar a mercadoria.


    script(src='build/build.js')
    script(src='build/build2.js')